= form_for @idea, html: { class: "form-horizontal" }, remote: true do |f|
  .control-group
    .controls
      = f.error_messages

  .control-group
    = f.label :title, class: 'control-label required'
    .controls
      = f.text_field :title, class: "span6 required"

  .control-group
    = f.label :description, class: 'control-label required'
    .controls
      = f.text_area :description, class: "span6", rows: 5

  .control-group
    = f.label :image, "Zdjęcie", class: 'control-label required'
    .controls
      = f.file_field :image
      = f.label :remote_image_url, "lub wpisz adres Internetowy"
      = f.text_field :remote_image_url

  .control-group
    = f.label :address, class: 'control-label'
    .controls
      = f.text_field :address, class: "span6"
  .control-group
    .controls
      = f.submit class: 'btn btn-primary btn-large', disable_with: "Zapisuję..."
      = link_to_function 'Zamknij', 'var form = $(this).parents("form"); form.prev().show(); form.remove();', class: 'cancel_button'
