- title "Ideas"

%table
  %tr 
    %th Title
    %th Description
    %th Address
    %th Latitude
    %th Longitude
    %th Map
    %th Thumb
  - for idea in @ideas
    %tr 
      %td= idea.title
      %td= idea.description
      %td= idea.address
      %td= idea.latitude
      %td= idea.longitude
      %td= link_to "Show", idea
      %td= link_to "Edit", edit_idea_path(idea)
      %td= link_to "Destroy", idea, confirm: 'Are you sure?', method: :delete
      %td
        = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{idea.latitude}%2C#{idea.longitude}"
      %td
        - if image_tag idea.image_url(:thumb)
          = image_tag idea.image_url(:thumb).to_s
%p= link_to "New Idea", new_idea_path

%p
  = debug(@uploader)
  %br
  = direct_upload_form_for @uploader do |f|
    %p= f.file_field :image
    %p= f.submit "Upload image"
