<% title "Idea" %>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>
<p>
  <strong>Address:</strong>
  <%= @idea.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @idea.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @idea.longitude %>
</p>

<p>
  <%= link_to "Edit", edit_idea_path(@idea) %> |
  <%= link_to "Destroy", @idea, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ideas_path %>
</p>
